/* Reset styles */
@import "reset.css";

/* Font family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*{
	box-sizing: border-box;
}

body{
    font-family: "Open Sans", san-serif;
}

*[class*="__container"]{
	max-width: 1280px;
	margin: 0 auto;
}

.wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.main{
	flex: 1 1 100%;/* flex-grow, flex-shrink, flex-basis*/
}

/* =========================== Header ============================== */


.header{
	width: 100%;
	height: 69px;
	padding: 24px 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff ;
	z-index: 10;
}

.header__icons{
	padding-right: 15px;
}

.header__content{
	padding: 0 15px;
	display: flex;
	align-items: center;
}

.header__bag{
	margin-right: 14px;
}

.header__menu{
	flex: 1 1 auto;
}


.burger{
	display: none;
}
.menu__list a,
.mobile__list a{
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color:#1F2937;
	transition: 0.2s all;
}

.menu__list a:hover{
	color: yellowgreen;
}


.menu__list{
	display: flex;
	gap: 14px;
	justify-content: center;
	align-items: center;
}

.mobile-logo{
	padding-left: 15px;
}

.mobile-menu{
	position: fixed;
	top: 69px;
	left: 0;
	width: 75%;
	background-color: #fff;
	z-index: 50;
	min-height: 100vh;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transition: 0.2s all;
	opacity: 0;
	visibility: hidden;
}

.mobile-menu:before{
	content:"";
	width: 75%;
	background-color:#fff;
	position: fixed;
	top: 0px;
	left: 0;
	min-height: 69px;
	z-index: 999;
}

.mobile__list{
	padding-top: 20px;
}
.mobile__list a {
	color: yellowgreen;
	font-size: 16px;
	width: 100%;
}

.mobile__list li{
	margin-bottom: 30px;
	text-align: center;
}

.mobile-header{
	display: flex;
	justify-content: space-between;
}

.mobile__icons img{
	margin-right: 15px;
	margin-top: 3px;
}



/* ========================== INTRO ======================= */


.intro{
	padding-top: 140px;
}

.intro__ellipse_3{
	display: none;
}
.intro__container{
	position: relative;
}

.intro__ellipse_2{
	display: none;
	max-width: 300px;
}
.intro__ellipse{
	position: absolute;
	right: 0;
	top: 0;
	max-width: 600px;
	width: 100%;
	height: 100%;
	z-index: -99;
}
.intro__medicine{
	max-width: 650px;
	width: 100%;
}

.intro__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro__text{
	margin-left: 30px;
}
.intro__title{
	
	max-width: 523px;
	padding-right: 100px;
	font-weight: 600;
	font-size: 96px;
	line-height: 90.84%;
	color: #5FD788;
	margin-bottom: 45px;
}


.intro__body{
	max-width: 374px;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	color: #9CA3AF;
}




/* ================= EXplore cards ================== */
.explore-cards{
	padding-top: 154px;
}

.explore__items{
	display: flex;
	justify-content: center;
}
.explore__item{
	transition: 0.3s all;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 274px;
	width: 274px;
	background: #F9FAFB;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 0px 20px;
}

.explore__item:hover{
	background-color:#5FD788 ;
}

.explore__item:hover .explore-item__text{
	color: #fff;
}

.explore__item:hover .explore__icon{
	background-image: url("../img/white-blob.png")			;
}
.explore-item__text{
	padding-top: 20px;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	color: #5FD788;
}

.explore__icon{
	background-image: url("../img/green_blob.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}





/* =============== ABOUT ==================== */

.about{
	margin: 0 auto;
	max-width: 1500px;
	background-image: url("../img/ellipse-left.png");
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 887px;
}

.mobile-ellipse{
	display: none;
}

.about__container{
	min-height: 887px;
	display: flex;
	align-items: center;
}


.about__content{
	padding-top: 100px;
	padding-right: 15px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.about__title{
	margin-bottom: 35px;
	max-width: 573px;
	font-weight: 600;
	font-size: 45px;
	line-height: 107.9%;
	text-align: right;
	letter-spacing: 0.01em;
	color: #5FD788;
}

.about__text{
	margin-bottom: 35px;
	width: 374px;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	text-align: right;
	color: #9CA3AF;
}

.button{
	border-radius: 8px;
	font-weight: 700;
	min-width: 274px;
	font-size: 16px;
	line-height: 97.9%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	padding: 12px 30px;
	text-align: right;
}

.button__green{
	background-color: #5FD788;
	color: #fff;
}



/*=============== Bestsellers =============*/

.bestsellers{
	padding-bottom: 110px;
	max-width: 1500px;
	margin: 0 auto;
	background-image: url("../img/bestseller-flower.png");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 18%;
}


.bestsellers .card__info-1,
.bestsellers .card__info-2{
	display: inline-block;
	background-image: url('../img/bestseller-1.png');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 390px;
	max-width: 375px;
	display: flex;
	align-items: flex-end;
}

.bestsellers .card__info-2{
	background-image: url('../img/bestsellers-2.png');
}

.bestsellers__container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bestsellers__button{
	display: inline-block;
	text-align: center;
	min-width: 274px !important;
}

.info__title{
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 50px;
	line-height: 107.9%;
	letter-spacing: 0.01em;
	color: #5FD788;
}

.card__info{
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(15px);
	border-radius: 0px 20px;	
}

.card__info-title{
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
	color: #1F2937;
}

.cards{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
}

.card__info-icon{
	height: 70px;
	width: 100px;
	padding-left: 10px;
}

.cards__items{
	display: flex;
	gap: 20px;
}

.card__info-price{
	margin-left: 10px;
	vertical-align: middle;
	padding: 2px 5px;
	display: inline-block;
	width: 32px;
	height: 15px;
	background-color: #5FD788;
	border-radius: 30px;
	color: #fff;
	font-weight: 700;
	font-size: 10px;
	line-height: 97.9%;
	text-align: center;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.card__info-body{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card__info-text{
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #6B7280;
}


/* ==================== ADS ======================== */

.ads{
	min-height: 523px;
	padding-top: 114px;
	padding-bottom: 105px;
	background-color: #5FD788;
	background-image: url("../img/Image.png");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}

.ads__container{
	padding-left: 10px;
}

.ads__title{
	margin-bottom: 35px;
	max-width: 540px;
	font-weight: 600;
	font-size: 48px;
	line-height: 119.4%;
	letter-spacing: 0.01em;
	color: #FFFFFF;
}
.ads__button{
	text-align: center;
	display: inline-block;
	min-width: 270px;
}
.button__white{
	background-color: #fff;
	color: #000;
}


/* ================== Trends ================= */

.trends{
	padding-top: 115px;
	padding-bottom: 110px;
	max-width: 1500px;
	margin: 0 auto;
	background-image: url("../img/trends-flower.png");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 18%;
}
.trends .card__info-1,
.trends .card__info-2{
	display: inline-block;
	background-image: url('../img/trends-1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 390px;
	max-width: 375px;
	display: flex;
	align-items: flex-end;
}

.trends .card__info-2{
	background-image: url('../img/trends-2.png');
}
.trends__container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trends__button{
	display: inline-block;
	text-align: center;
	min-width: 274px !important;
}


/* ============================ BLOG =========================== */

.blog{
	padding: 0px 20px;
}
.blog__title{
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 50px;
	line-height: 107.9%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #5FD788;
}

.blog__header{
	border-bottom: 2px solid #F3F4F6;
	padding: 30px 22px;
	padding-bottom: 0px;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
	color: #5FD788;
}

.blog__body{
	padding: 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #4B5563;
}

.blog__items{
	display: flex;
	gap: 24px;
}

.blog__item{
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.blog__item img{
	width: 100%;
}
@media(max-width: 1212px){
	.ads{
		background-size: 40% 100%;
	}
}

@media (max-width: 1154px){
	.intro__title{
		font-size: 86px;
	}
}

@media (max-width: 1112px){
	.intro__title{
		font-size: 75px;
		padding-right: 50px;
	}


}

@media(max-width: 1084px){
	.about__title{
		font-size: 40px;
	}

	.about{
		background-size: 50%;
	}
}

@media(max-width: 1000px){

	.trends{
		background-position: top left;
		background-size: 40%;
	}
	.trends__container{
		flex-direction: column;
		gap: 130px;
	}

	.bestsellers{
		background-position: top left;
		background-size: 40%;
	}
	.bestsellers__container{
		flex-direction: column;
		gap: 130px;
	}

	.cards__items{
		flex-direction: column;
		gap: 80px;
	}
}

@media (max-width: 974px){
	.intro__medicine,
	.intro__ellipse{
		display: none;
	}
	.intro__ellipse_2{
		display: block;
	}

	.intro__text{
		margin-left:0px;
		padding-top: 18%;
		padding-left: 13%;
	}
}


@media(max-width: 916px){
	.ads{
		background-image: url("../img/image-2.png");
		background-size: contain;
	}
}

@media (max-width: 854px){
	.ads{
		background-size: 30% 100%;
	}
}

/*mobile */

@media (max-width: 800px){
	.explore__items{
		flex-direction: column;
		align-items: center;
		gap: 45px;
	}
}
@media (max-width: 774px){
	.ads{
		background-image:url("../img/image-3.png");
		background-size: cover;
	}
}

@media (max-width: 767.98px){

	.blog__title{
		margin-bottom: 180px;
	}

	.blog__items{
		flex-direction: column;
		gap: 70px;
	}

	.blog__item{
		margin: 0 auto;
		width: 371px;
		height: 692px;
	}

	.blog__item img{
		height: 341px;
	}

	.blog__header{
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		padding-bottom: 19px;
		margin-bottom: 41px;
	}

	.blog__body{
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}

	.mobile-ellipse{
		display: block;
	}

	.about{
		background-image: none;
	}

	.about__text{
		text-align: center;
	}

	.about__title{
		text-align: center;
	}

	.about__content{
		padding-right: 0;
		padding-top: 33px;
		text-align: center;
		align-items: center;
	}

	.about__container{
		flex-direction: column;
	}
	.explore__item{
		width: 174px;
		height: 174px;
	}

	.header__bag,
	.header__search,
	.header__menu{
		display: none;
	}

	.burger{
		display: block;
	}
	.header__content{
		justify-content: space-between;
	}
	.intro__ellipse_2{
		display: none;
	}
	.intro__ellipse_3{
		max-width: 280px;
		width: 100%;
		display: block
	}
	.intro__content{
		flex-direction: column;
	}

	.intro__title{

		margin: 0 auto;
		padding: 0;
		max-width: 200px;
		font-size: 40px;
		margin-bottom: 30px;
	}

	.intro__body{
		max-width: 311px;
		font-size: 12px;
	}
	.intro__text{
		text-align: center;
		padding: 0;
	}
}

@media (max-width: 478px){
	

	.blog__title{
		margin-bottom: 80px;
	}

	.blog__items{
		gap: 42px;
	}

	.blog__item{
		margin: 0 auto;
		width: 205px;
		height: 370px;
	}

	.blog__item img{
		height: 191px;
	}

	.blog__header{
		padding: 20px 12px;
		font-size: 16px;
		line-height: 22.4px;
		font-weight: 700;
		padding-bottom: 24px;
		margin-bottom: 9px;
	}

	.blog__body{
		padding: 0 12px;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		padding-bottom: 21px;
	}

	.about__text{
		max-width: 300px;
	}

	.cards__items{
		gap: 130px;
	}

	.card__item{
		margin: 0 auto;
		max-width: 280px;
		max-height: 300px;
	}

	.about__title{
		font-size: 20px;
	}

	.about__text{
		font-size: 10px;
	}
}